* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #F6F8F9;
}

/* Header */

header {
	background-color: #FFFFFF;
}
.logo {
	width: auto;
	line-height: normal;
	padding: 10px 30px;
}
header h1, header img {
	display: inline-block;
	vertical-align: middle;
}

/* Main */

main {
	margin: 50px auto;
	background-color: #FFFFFF;
	width: 70%;
	border-radius: 5px;
	color: #444851;
}
.main-header {
	padding: 20px 50px;
	border-bottom: 2px solid #F6F8F9;
}
button {
	padding: 5px 10px;
	border-radius: 5px;
}
.blue-btn {
	background-color: #47ADF1;
	color: #FFFFFF;
	border: 0;
}
.white-btn {
	background-color: #FFFFFF;
	border: 1px solid #C5CBD0;
	color: #C5CBD0;
}
.main-body {
	padding: 0 50px;
}
.main-body section{
	padding: 25px 0;
	line-height: 2;
}
.section-title::before {
	content: "\25BE";
	padding-right: 10px;
}
p.done::before {
	content: "\2713";
	font-size: 10px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid #65C0A9;
	margin-right: 10px;
	color: #65C0A9;
}
p.undone::before {
	content: "\2715";
	font-size: 10px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid #EB5952;
	margin-right: 10px;
	color: #EB5952;
}

 /* Tags */

.tag_editorial::after {
	content: "Editorial";
	color: #FFFFFF;
	background-color: #47ADF1;
	padding: 4px 10px;
	margin-left: 10px;
	border-radius: 8px;
	font-size: 10px;
}
.tag_q1-goals::after {
	content: "Q1 Goals";
	color: #FFFFFF;
	background-color: #9C72E4;
	padding: 4px 10px;
	margin-left: 10px;
	border-radius: 8px;
	font-size: 10px;
}
.tag_recruiting::after {
	content: "Recruiting";
	color: #FFFFFF;
	background-color: #64C0A9;
	padding: 4px 10px;
	margin-left: 10px;
	border-radius: 8px;
	font-size: 10px;
}
.tag_mobile::after {
	content: "Mobile";
	color: #FFFFFF;
	background-color: #F29E33;
	padding: 4px 10px;
	margin-left: 10px;
	border-radius: 8px;
	font-size: 10px;
}
.tag_website::after {
	content: "Website";
	color: #FFFFFF;
	background-color: #D863A1;
	padding: 4px 10px;
	margin-left: 10px;
	border-radius: 8px;
	font-size: 10px;
}
.tag_sales::after {
	content: "Sales";
	color: #FFFFFF;
	background-color: #B0C926;
	padding: 4px 10px;
	margin-left: 10px;
	border-radius: 8px;
	font-size: 10px;
}